<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Guide to help new mentors and students" />
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,700,700italic' rel='stylesheet' type='text/css'>
	<title>Women On Rails Guide</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Guide</h1>
        </header>
    </div>

	<div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{content}}

	  </section>
    </div>	

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Guide maintained by <a href="https://github.com/women-on-rails">Women On Rails</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>

</html>